app-beer-list{
    mat-progress-bar{
        margin-bottom: 8px;
    }
    .empty-list{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 300px;
    }
    .table-header{
        display: flex;
        align-items: center;
        mat-form-field{
            width: 40%;
            .mat-form-field-wrapper{
                padding-bottom: 0;
            }
        }
    }
    table{
        width: 100%;
    }
}